---
printer:
  # type: usb       # Uncomment this for an usb printer
  # type: serial    # Uncomment this for a serial printer
  settings:
    # USB settings for communicate with printer
    # use lsusb for get them 
    
    idVendor: 0x0483
    idProduct: 0x5740
    
    # settings for serial printers
    
    #devfile: /dev/ttyS0

    # For propoer aligment on recipts we must set widths
    # according to the printer specifications
    #
    # PoS printers are able to print on two different fonts
    # FontA & Font B
    # 
    # using WidthA & WidhtB we can set the number of chars
    # available for each font
    #
    # pxWidht sets the total pixel width an is used only for
    # control the image printing for being center    

    WidthA: 44
    WidthB: 34
    pxWidth: 206
